VITE_SUPABASE_URL=https://ufnosiwcunlhezeuwpuc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVmbm9zaXdjdW5saGV6ZXV3cHVjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzNjEwMzQsImV4cCI6MjEwMzkzNzAzNH0.0slQ62he684fA9bTGAYmnbaHSZPYK3kby2RcHohAuh0
